
.container > *{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.container{
  background-color: #34495e;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
}
.layout-1{
  display: grid;
  /* grid-template-columns: repeat(3,1fr); */
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 15px;
}
.layout-1 .col{
  width: 100%;
  height: 150px;
  background-color: #fff;
}


.layout-2{
  display: grid;
  grid-template-areas: "one one two"
  "one one three"
  "one one four" ;
  grid-template-rows: 150px 150px 250px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;      
  
  
}
.layout-2 .one{
  grid-area: one;
}
.layout-2 .col{
  width: 100%;
  /* height: 150px; */
  background-color: #fff;
}
@media screen and (max-width: 1000px) {
  .layout-2{
    grid-template-areas: "one" ;
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-columns: 1fr;
    grid-gap: 15px;                        
  }

}
 


.holy{
  display: grid;
  grid-template-rows: 1rf min-content  1fr;
  grid-gap: 15px;
}
.holy nav{
  background-color: #1abc9c;
  height: 150px;
}
.holy main{
  display: grid;
  background-color: none;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 15px;
}
.holy main > * {
  background-color: #fec40f;
  height: 500px;
}
.holy footer {
  background-color: #16a085;
  height: 150px;
}
@media screen and (max-width: 1000px) {
  .holy main{

    grid-template-columns: 1fr;
               
  }

}
 